.cmp2{
    min-height: 600px;
    width: 900px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    ::-webkit-scrollbar {
        display: none;
    }

    .description{
        display: flex;
        margin-bottom: 120px;
        justify-content: space-around;
        .h{
            font-weight: 600;
            font-size: 30px;
            margin-right: 30px;
        }
        .p{
            max-width: 280px;
            font-size: 18px;
            line-height: 30px;
            color: rgb(65, 65, 65);
        }
    }

    .headline{
        position: relative;
        margin-bottom: 70px;

        .heading{
            font-family: 'Noto Sans', sans-serif;
            font-size: 40px;
        }
        .ghost2{
            width: 65px;
            height: 60px;
            transform: rotate(-10deg);
            position: absolute;
            top: -5px;
            left: 530px;
        }
    }

    .palletes{
        display: flex;
        overflow: scroll;
        gap: 40px;
        overflow-y: hidden;
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 250px;

            .plt{
                width: 350px;
                border-radius: 30px;
            }
        }
        .two{
            transform: rotate(5deg);
        }
        .four{
            transform: rotate(-5deg);
        }
    }
}