.cmp5{
    min-height: 600px;
    width: 900px;
    padding: 40px 50px;
    border-radius: 30px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(235, 250, 255);
    .sm{
        margin-top: 30px;
        text-align: center;
        font-size: 18px;
        word-spacing: 1px;
        margin-bottom: 30px;
    }
    .lr{
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        font-size: 40px;
        margin-bottom: 100px;
    }
    .dt{
        max-width: 80%;
        border-top: 3px dotted transparent;
        background-image: linear-gradient(to right, rgb(255, 221, 86) 50%, transparent 50%);
        background-size: 30px 1px;
        position: relative;
        left: 90px;
    }
    .num{
        width: 60px;
        position: absolute;
        top: 245px;
    }
    .num1{
        left: 120px;
    }
    .num2{
        left: 450px;
    }
    .num3{
        left:810px
    }
    .desc{
        margin-top: 45px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        gap: 95px;
        .p{
            font-size: 12px;
            max-width: 250px;
            font-weight: 600;
        }
    }
    .rec{
        background-color: white;
        margin-top: 60px;
        min-height: 200px;
        width: 70%;
        position: relative;
        left: 180px;
        border-radius: 20px;
        .st{
            width: 80%;
            height: 2px;
            background-color: rgb(202, 202, 202);
            left: 55px;
            top: 100px;
            position: absolute;
        }
        .dot{
            width: 18px;
            height: 18px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            top: 92px;
        }
        .dot1{
            background-color: rgb(97, 39, 223);
            left: 40px;
        }
        .dot2{
            background-color: rgb(62, 188, 237);
            left: 200px;
        }
        .dot3{
            background-color: orange;
            left: 370px;
        }
        .dot4{
            background-color: rgb(13, 180, 113);
            left: 550px;
        }
    }
    .box{
        font-size: 14px;
        background-color: black;
        color: whitesmoke;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .purple{
        position: absolute;
        background-color: rgb(97, 39, 223);
        top: 445px;
        left: 220px;
    }
    .blue{
        position: absolute;
        top: 540px;
        left: 440px;
        background-color: rgb(62, 188, 237);
    }
    .orange{
        position: absolute;
        background-color: orange;
        top: 445px;
        left: 610px;
    }
    .green{
        position: absolute;
        background-color: rgb(13, 180, 113);;
        top: 540px;
        left: 780px;
    }
}