.cmp7{
    height: 650px;
    width: 900px;
    background-color: rgb(244, 237, 255);
    border-radius: 30px;
    padding: 20px 50px;
    font-family: 'Rubik', sans-serif;
    ::-webkit-scrollbar {
        width: 0px;
    }

    h1{
        font-size: 45px;
        line-height: 80px;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 40px;
    }
    display: flex;
    justify-content: space-between;
    .left{
        position: relative;
        .about{
            max-width: 345px;
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            img{
                height: 40px;
                width: 40px;
            }
            h2{
                line-height: 20px;
                font-size: 22px;
            }
            p{
                line-height: 25px;
                color: rgb(77, 77, 77);
            }
        }
        .product{
            max-width: 345px;
            padding: 20px 30px;
            border-radius: 20px;
            background-color: rgb(255, 242, 232);
            position: absolute;
            top: 355px;
            p{
                line-height: 25px;
                color: rgb(77, 77, 77);  
            }
        }
        .circle{
            width: 120px;
            position: absolute;
            top: 540px;
            opacity: 0.6;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        ::-webkit-scrollbar {
            width: 7px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: white;
          }
          
          /* Handle */
          ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: rgb(121, 115, 236);;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: rgb(96, 89, 236);
          }
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: rgb(76, 67, 238);
            margin-left: 140px;
        }
        .scroll{
            display: flex;
            flex-direction: column;
            overflow: scroll;
            overflow-x: hidden;
            padding: 20px;
            div{
                max-width: 260px;
                background-color: white;
                padding: 20px 30px;
                margin-bottom: 20px;
                border-radius: 20px;
                p{
                    color: rgb(77, 77, 77);
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}